.App {
  text-align: center;
  background-color: rgb(31, 30, 30);
  color: white;
  min-height: 100vh;
  padding: 10px;
}

#titulo {
  font-size: 90px;
}

#textoBoton {
  text-decoration: none;
  color: white;
}

#navbar {
  display: flex;
  justify-content: center;
  gap: 50px;
  background-color: rgb(70, 68, 68);
  padding: 20px;
}

.navlink {
  color: white;
}

.buttonHome {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #495057;
  background: #495057;
}
.buttonHome:hover {
  background: #000000;
  color: #495057;
}

.linkMovil {
  font-size: 20px;
  color: white;
}

#textoBoton{
  text-decoration: none;
  color: white;
}

@media (width <= 580px) {
  #titulo {
    font-size: 40px;
  }

}
